#wrapper {
  border: 5px solid black;
  /*width: 1024px;*/
  /*height: 1024px;*/
  width: 2400px;
  height: 2400px;
  margin: auto;
}

#planeimage {
  display: none;
}

#logger {
  font-size: 42px;
}
